rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Fotos de perfil: só o próprio utilizador pode fazer upload
    match /profiles/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    // Fotos de posts: utilizadores autenticados podem fazer upload
    match /posts/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
